@import "variables.css";
@import "media_querries.css";
@import "general_styles.css";

/* -----HEADER----------------------- */

/* Layouts, in mobile some flex itmes */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  height: 10rem;
  top: 0;
  width: 100%;
}

/*---- MAIN NAV ----------- */
#main-nav {
  display: flex;
  font-display: row;
  justify-content: center;
}

#main-nav li {
  padding-right: 2rem;
}

#main-nav li a {
  padding-bottom: 0.75re;
  border-bottom: 1px solid transparent;
  font-size: 1.5rem;
}

#main-nav li a:hover {
  border-bottom: 1px solid var(--dteal);
  transition: .3s;
}

/* Social Media Icons */
#nav-soc ul {   /*in mobile only leave them out from main-nav*/
  display: none;
  flex-direction: row;
}

/* Active link  */
.active-link {
  color: var(--dteal);
}

/* header styles */
header {
  background: var(--teal);
  border-bottom: 2px solid var(--darkgrey);
}

/* Logo */
#head-logo {
  width: 12rem;
  padding: .5rem;
}

/* Text links - #main-nav */
header a,
header i {
  color: var(--whiteg);
}

/* Social Icons in header */
.nav-soc {
  display: none;
}

.nav-soc ul {
  padding: 1rem;
}

.nav-soc a {
  font-size: 2.2rem;
  padding:.75rem
}

.nav-soc i:hover {
  color: var(--dteal);
  transition: .3s;
}

/* -------CONTENT - MAIN & ASIDE----------- */

.container-home {
  margin: 0.25rem;
}
/* Welcome from Joanna */
/* Layout */
#welcome {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

#welcome p {
  display: none;
}

/* welcome Style  */
#welcome {
  padding: .5rem;
  background-color: var(--whiteg);
  margin: .25rem;
}

#welcome img {
  padding: .5rem;
  border-radius: 50%;
  width: 8rem;
}

#welcome h2 {
  font-size: 1.5rem;
  font-weight: 300;
}

/* ----- SUBSCRIBE and CONTACT FORM ----- */
.subscribe {
  background: var(--dteal);
  margin: .25rem;
  width: 98%;
}

.subscribe h2 {
  text-align: center;
  padding: .5rem;
  font-weight: 500;
}

.subscribe h2,
.subscribe label {
  color: var(--whiteg);
}

.sub-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-form label {
  padding: .5rem;
}

.sub-form input {
  border: 0;

  font-size: 1.2rem;
  font-weight: 200;
}

.sub-form textarea {
  border: 0;
}

.subscribe .btn-sub {
  cursor: pointer;
  margin: 1.2rem .5rem 1.5rem 0;
  padding: 0.5rem;
  border-radius: 25px !important;
  background: transparent;
  border: 1px solid var(--whiteg);
  color: var(--whiteg);
}

.subscribe .btn-sub:hover {
  background: var(--teal);
  border: 1px solid var(--teal);
  transition: .1s;
}

/*----- STYLES FOR MOST RECENT POST ----- */

.card {
  margin: .25rem;
  background-color: var(--whiteg);
  padding: .5rem;
}

.post-h {
  font-size: 2rem;
  border-bottom: 1px solid var(--darkgrey);
  font-weight: 600;
}

.post-info {
  padding: 0.5rem 0;
  font-size: 0.8rem;
}

.p-txt {
  font-weight: 600;
  padding-bottom: 0.5rem;
}

/* -----About the author----- */
.author-bio img {
  width: 50%;
  border-radius: 50%;
  margin-top: .5rem;
}

.author-bio p {
  margin: 0.5rem 0 .5rem 0;
}


/* ----- STYLE FOR OLDER POSTS */
.post-h2 {
  font-size: 1.5rem;
  border-bottom: 1px solid var(--darkgrey);
  font-weight: 600;
}

/* Post page Archive */

#arch {
 background: var(--teal); 
}

#arch a:hover {
  color: var(--whiteg);
}

/* STYLE FOR CARDS WITHOUT PICTURE */

/* ----- STYLE FOR "POST PAGE" ----- */
.post-container {
  margin: .5rem;
}

.read-more {
  text-align: center;
  margin: 1rem 0;
  border-bottom: 1px solid var(--darkgrey);
  padding: .5rem;
}

/*-----The article----- */
blockquote {
  text-align: center;
  margin: 1rem;
  font-size: .9rem;
  line-height: 1.5rem;

}

/* ----- Archive ----- */
.arch {
  background-color: var(--dteal);
  color: var(--whiteg);
}
.arch h3,
.arch a {
  color: var(--whiteg);
}

.arch a:hover {
  text-decoration: underline;
  color: var(--darkgrey);
}
/* ----- FOOTER ----- */

/* Footer general style */

footer {
  background: var(--darkgrey);
  border-top: 2px solid var(--dteal);
  transition: .3s;
}

footer p,
footer a,
footer i {
  color: var(--sand);
}

/* Footer logo with short note */
.ft-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ft-logo {
  margin: 0 auto;
  width: 155px;
  padding: .5rem;
}

.ft-txt p {
  padding: .5rem .5rem 1.5rem 0;
  margin: 0 auto;
  width: 230px;
  font-size: .75rem;
  text-align: center;
  vertical-align: top;
}

/* copyright text */
.ft-copy {
  font-size: 0.9rem;
  text-align: center;
  padding: 0.75rem;
}

/* footer social icons */
.ft-soc ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0;
}

.ft-soc a {
  font-size: 2.2rem;
  padding: 0 1rem
}

.ft-soc i:hover {
  color: var(--teal);
  transition: .3s;
}

/* copyright text */

.fa-copyright {
  padding-right: 0.25rem;
}