* {
  --darkgrey: #40414e; /* var(--darkgrey)*/
  --whiteg: #eafaf2;  /* var(--whiteg)*/
  --teal: #A9C3B6;  /* var(--teal)*/
  --dteal: #6f7e77; /* var(--dteal)*/
  --khaki: #c9a782;  /* var(--khaki)*/
  --sand: #d3bdb2;  /* var(--sand)*/
}