/* Starting with the mobile layout, then tablet portrait and landscape mode, followed by desktops */

/* Mobile devices max screen width: 667px */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#main-nav {
  display: flex;
}

#nav-soc ul {
  display: flex;
  flex-direction: row;
}



/* welcome card with Joanna's photo stet up as row fro mobile and portrait tablets. Then, for larger screens as Column on the side of the screen */

#welcome {
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  align-items: center;
}

#welcome p {
  display: none;
}